:root {
    --bg: auto;
    --fg: auto;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #1c1b22;
        --fg: #ffeecc;
        --link: #48b7f9;
    }
    
    a {
        color: var(--link);
    }
}

body {
    background-color: var(--bg);
    color: var(--fg);
}