     
      html, body{min-height: 100%; }
      section {padding: 0.5em;}
      .h {display: none;}
      table{max-width: 100%; border-collapse: collapse;}
      td, th {padding: 0.25em; text-align: center; max-width: 5em; overflow: auto; border: 0.1em solid rgb(87, 17, 17);}
      .frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}
.frac > span {
    display: block;
    padding: 0.1em;
}
.frac span.bottom {
    border-top: thin solid black;
}
.frac span.symbol {
    display: none;
} 
.modal__window {font-size: large!important;}
.cool_button, select, input {padding-top: 0.125em; padding-bottom: 0.125em;}
input, select, textarea {background-color: inherit; color: inherit; border: 2px solid gray; }
details {font-size: medium;}
input.narrow, input[type='number'] {max-width: 2.5em;}
li {margin: 0.25em;}

.newalert {color: deeppink;}

.blink_me {
    animation: blinker 1.5s linear infinite;
    border: 5px dashed deeppink;
  }
  
  @keyframes blinker {  
    25% { border: 3px dotted lime; }
  }
